@model SSEInvoice.Models.Quotation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ProductList = ViewBag.ProductList;
}

    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />
<h1>Create</h1>

<h4>Quotation</h4>
<hr />
<form asp-action="Create">
    <div class="row">

        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select id="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
                    <option>Select Customer</option>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="BillingTo" />
                <label for="BillingAddress" class="control-label">BillingAddress</label>
                <textarea rows="5" type="text" id="BillingAddress" class="form-control" name="BillingAddressString" disabled></textarea>
            </div>


            <input type="hidden" asp-for="CreatedOn" />


        </div>
        <div class="col-md-8">
            <div class="row border">
                <div class="col-md-6 ">
                    <div class="form-group ">

                        <label class="control-label">Select Product to Add</label>
                         
                        <select asp-items="ViewBag.ProductList" onchange="selectProduct(this.value)" id="selectedProduct" class="form-control">
                            <option>select product</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Count</label>
                                <input type="number" id="Count" class="form-control" placeholder="Quantity" />

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Unit</label>
                                <input id="UnitName" type="text" class="form-control" placeholder="---" disabled />

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Click </label><br />
                                <input type="button" class="btn btn-primary" id="addToQuote" value="ADD" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-1">
                        <div class="card-body">
                            <h5 class="card-title">Selected Product Details &nbsp; Custom Price: <input type="number" class="form-control-sm" placeholder="price" id="CustomPrice" /></h5>

                            <div class="row">
                                <div class="col-md-4 p-1">
                                    <div class="border p-1">
                                        <h6 class="card-subtitle mb-2 text-muted">Product Name</h6>
                                        <span class="card-text" id="ProductNameBox"></span>
                                    </div>
                                </div>
                                <div class="col-md-4  p-1">
                                    <div class="border p-1">
                                        <h6 class="card-subtitle mb-2 text-muted">Product Cost</h6>
                                        <span class="card-text" id="ProductPriceBox"></span>
                                    </div>
                                </div>
                                <div class="col-md-4  p-1">
                                    <div class="border p-1">
                                        <h6 class="card-subtitle mb-2 text-muted">Product Description</h6>
                                        <span class="card-text" id="ProductDescBox"></span>
                                    </div>
                                </div>
                                <div class="col-md-4  p-1">
                                    <div class="border p-1">
                                        <h6 class="card-subtitle mb-2 text-muted">CGST</h6>
                                        <span class="card-text" id="ProductcgstBox"></span>
                                    </div>
                                </div>
                                <div class="col-md-4  p-1">
                                    <div class="border p-1">
                                        <h6 class="card-subtitle mb-2 text-muted">SGST</h6>
                                        <span class="card-text" id="ProductsgstBox"></span>
                                    </div>
                                </div>
                                <div class="col-md-4  p-1">
                                    <div class="border p-1">
                                        <h6 class="card-subtitle mb-2 text-muted">Product HSN</h6>
                                        <span class="card-text" id="ProducthsnBox"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><br />
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 border p-1">
            <div id="dataTable" style="display: none;">
                <table style="width:100%;" class="dataTable">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Varient Name</th>
                            <th>Varient ID</th>
                            <th>Count</th>
                            <th>Custom Price</th>
                            <th>SGST(in %)</th>
                            <th>CGST(in %)</th>
                            <th>Tax</th>
                            <th>Price Including Tax</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="dataTableForCgst" style="display: none;">
                <table style="width:100%;" class="dataTableForCgst">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Varient Name</th>
                            <th>Varient ID</th>
                            <th>Count</th>
                            <th>Custom Price</th>
                            <th>CGST(in %)</th>
                            <th>Tax</th>
                            <th>Price Including Tax</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <div class="col-md-4  float-md-right ">
                        <div class="form-group">
                            <label asp-for="SubTotal" class="control-label"></label>
                            <input asp-for="SubTotal" class="form-control" disabled/>
                            <span asp-validation-for="SubTotal" class="text-danger" ></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalTax" class="control-label"></label>
                            <input asp-for="TotalTax" class="form-control" disabled/>
                            <span asp-validation-for="TotalTax" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ShippingCharges" class="control-label"></label>
                            <input asp-for="ShippingCharges" class="form-control" onkeydown="return enterShippingCharge(event);"/>
                            <span asp-validation-for="ShippingCharges" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalAmount" class="control-label"></label>
                            <input asp-for="TotalAmount" class="form-control" disabled/>
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>
<div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script src="~/js/select2.min.js"></script>

    <script type="text/javascript" src="~/js/datatables.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var IsOnlyCGST = false;
    $("#selectedProduct").select2();
    var dataTable = $('.dataTable').DataTable();
    var dataTablecgst = $(".dataTableForCgst").DataTable();
    $('#CustomerId').change(function () {
        dataTable.clear();
        dataTablecgst.clear();
        CustomVarient = [];
    var selectedValue = $(this).val();
    if (selectedValue!=0)
    $.ajax({
    url: '@Url.Action("FindBillingAddress", "Quotations")',
    type: "Get",
    data: { CustomerId: selectedValue },
    success: function (res) {
        console.log(res);
        $("#BillingTo").empty();
        $("#BillingAddress").empty();
        if (res.billingAddress != null) {
            let bAddress = res.billingAddress;
            $("#BillingTo").val(bAddress.id);
            $("#BillingAddress").val(
                `${bAddress.line1},
${bAddress.line2},
${bAddress.city},
${bAddress.state},
Pin Code : ${bAddress.pinCode},
                `);
            IsOnlyCGST = res.isOnlyCGST;
            if (res.isOnlyCGST) {
                $("#dataTableForCgst").show();
                $("#dataTable").hide();
            } else {
                $("#dataTableForCgst").hide();
                $("#dataTable").show();
            }
        }
    },
    error: function (err) {
    console.log(err);
    }
    });
    });

        
    
    var LastVarientResponse;
    function selectProduct(val) {
        $("#UnitName").val("");
        console.log(val);
        if (val !="select product")
          $.ajax({
    url: '@Url.Action("GetUnit", "Quotations")',
    type: "Get",
    data: { VarientId: val },
    success: function (res) {
        console.log(res);
        LastVarientResponse = res;
        $("#UnitName").empty();
        $("#UnitName").val(res.varientDetail.unit.unitName);
        $("#ProductNameBox").html(`<strong>${res.varientDetail.product.productName}</strong>`);
        $("#ProductPriceBox").html(`<strong>${res.varientDetail.price}</strong>`);
        $("#ProductDescBox").html(`<strong>${res.varientDetail.product.description}</strong>`);
        $("#ProductcgstBox").html(`<strong>${res.varientDetail.cgst}</strong>`);
        $("#ProductsgstBox").html(`<strong>${res.varientDetail.sgst}</strong>`);
        $("#ProducthsnBox").html(`<strong>${res.varientDetail.product.productCode}</strong>`);

    },
    error: function (err) {
    console.log(err);
    }
    });
    }
    var CustomVarient  = new Array();
    function isAvailable(varid) {
        return CustomVarient.find(el => el.VarientId == varid) == undefined;
    }
    //add row to table 
    $('#addToQuote').on('click', function () {
        
        let VarientId = $("#selectedProduct").val();
        let VarientName = $("#selectedProduct option:selected").text();
        let ProductName = $("#ProductNameBox").html();
        let Count = $("#Count").val();
        let CustomPrice = $("#CustomPrice").val();
        if (!isNaN(VarientId) && !isNaN(Count) && !isNaN(CustomPrice) && Count != 0 && CustomPrice > 0 && isAvailable(VarientId)) {
            if (IsOnlyCGST) {
                let CgstAmount = Number(Count) * (Number(CustomPrice) * (Number(LastVarientResponse.varientDetail.cgst) + Number(LastVarientResponse.varientDetail.sgst)) / 100);
                CustomVarient.push({
                    "VarientId": VarientId,
                    "Count": Count,
                    "CustomPrice": CustomPrice,
                    "Cgst": CgstAmount,
                    "Sgst": 0,
                    "IsOnlyCgst": true
                });
                dataTablecgst.row.add([
                    ProductName,
                    VarientName,
                    VarientId,
                    Count,
                    CustomPrice,
                    (Number(LastVarientResponse.varientDetail.cgst) + Number(LastVarientResponse.varientDetail.sgst)),
                    CgstAmount,
                    CgstAmount + (Number(CustomPrice) * Number(Count)),
                    `<input type="button" class="btn btn-danger" value="remove" onclick="deleteRow(this,${VarientId})"/>`
                ]).draw(false);
                
                
            } else {
                let CgstAmount = Number(Count) * Number(CustomPrice) * Number(LastVarientResponse.varientDetail.cgst)  / 100;
                let SgstAmount = Number(Count) *  Number(CustomPrice) *  Number(LastVarientResponse.varientDetail.sgst) / 100;
                
                CustomVarient.push({
                    "VarientId": VarientId,
                    "Count": Count,
                    "CustomPrice": CustomPrice,
                    "Cgst": CgstAmount,
                    "Sgst": SgstAmount,
                    "IsOnlyCgst": true
                });
                dataTable.row.add([
                    ProductName,
                    VarientName,
                    VarientId,
                    Count,
                    CustomPrice,
                    Number(LastVarientResponse.varientDetail.cgst),
                    Number(LastVarientResponse.varientDetail.sgst),
                    Number(CgstAmount) + Number(SgstAmount),
                    Number(CgstAmount) + Number(SgstAmount) + Number(Count) *  Number(CustomPrice),
                    `<input type="button" class="btn btn-danger" value="remove" onclick="deleteRow(this,${VarientId})"/>`
                ]).draw(false);
            }
            let subtotal = 0;
            let taxTotal = 0;
            CustomVarient.forEach(el => {
                subtotal += Number(el.Count) * Number(el.CustomPrice);
                taxTotal += Number(el.Cgst) + Number(el.Sgst);//(parseFloat(el.CustomPrice) * (el.Cgst + el.Sgst) / 100);
               
            });
            $("#SubTotal").val(subtotal);
            $("#TotalTax").val(taxTotal);
            let ShipCharge = $("#ShippingCharges").val();
            $("#TotalAmount").val(subtotal + taxTotal + Number(ShipCharge));
            
           
        } else {
            alert("fill all fields ");
        }
        
    });
    function deleteRow(inputBtnRef, varId) { 
        CustomVarient.splice(CustomVarient.indexOf(CustomVarient.find(el => el.VarientId == varId)), 1);
        console.log(CustomVarient);
        if (IsOnlyCGST) {
            dataTablecgst
                .row($(inputBtnRef).parents('tr'))
                .remove()
                .draw();
            
        } else {
            dataTable
                .row($(inputBtnRef).parents('tr'))
                .remove()
                .draw();
            
        }
        let subtotal = 0;
        let taxTotal = 0;
        debugger;
        CustomVarient.forEach(el => {
            subtotal += Number(el.Count) * Number(el.CustomPrice);
            taxTotal += Number(el.Cgst) + Number(el.Sgst);//(parseFloat(el.CustomPrice) * (el.Cgst + el.Sgst) / 100);

        });
        console.log(subtotal);
        console.log(taxTotal);
        $("#SubTotal").val(subtotal);
        $("#TotalTax").val(taxTotal);
        let ShipCharge = $("#ShippingCharges").val();
        $("#TotalAmount").val(subtotal + taxTotal + Number(ShipCharge));
    }
    function enterShippingCharge(event) {
        if ((event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode == 8 || event.keyCode == 9 ) {
           
            return true;

        }
        return false;
    }
    $("#ShippingCharges").on("blur",function () {
        let shipCharge = $("#ShippingCharges").val();
        let SubTotal = $("#SubTotal").val();
        let TotalTax = $("#TotalTax").val();
        let totalChargeAfter = Number(SubTotal) + Number(TotalTax) + Number(shipCharge);
        $("#TotalAmount").val(totalChargeAfter);
    });
</script>
}
