@{
    ViewData["Title"] = "Home Page";
}

<div class="row ">
    <div class="col-sm-4 justify-content-center pb-2">

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Cusgtomer Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>
                
                <a asp-action="index" asp-controller="Customers" class="card-link">Update Customer</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 justify-content-sm-center  pb-2">

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Cusgtomer Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>

                <a asp-action="index" asp-controller="Customers" class="card-link">Update Customer</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 justify-content-sm-center  pb-2">

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Cusgtomer Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>

                <a asp-action="index" asp-controller="Customers" class="card-link">Update Customer</a>
            </div>
        </div>
    </div>



</div>
