@{
    ViewData["Title"] = "Home Page";
}

<div class="row ">
    <div class="col-sm-4 justify-content-center pb-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cusgtomer Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>

                <a asp-action="index" asp-controller="Customers" class="card-link">Update Customer</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 justify-content-sm-center  pb-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Unit Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>

                <a asp-action="index" asp-controller="Units" class="card-link">Update Units</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 justify-content-sm-center  pb-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Brand Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>

                <a asp-action="index" asp-controller="Brands" class="card-link">Update Brand</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 justify-content-sm-center  pb-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Products Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>

                <a asp-action="index" asp-controller="Product" class="card-link">Update Product</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 justify-content-sm-center  pb-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Varients Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>

                <a asp-action="index" asp-controller="Product" class="card-link">Update Varients</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 justify-content-sm-center  pb-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Stock Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>

                <a asp-action="index" asp-controller="Product" class="card-link">Update Stock</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 justify-content-sm-center  pb-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Quotation Module</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click below to</h6>

                <a asp-action="index" asp-controller="Quotations" class="card-link">Quotation </a>
            </div>
        </div>
    </div>
</div>
